
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.jobs-categories {
    height: 440px;
    background-image: url('pozadina.jpg');
}

.container {
    background-color:rgba(12, 19, 58, 0.7);
    height: 100%;
}

.logo img {
    width: 50px;
    height: 50px;
    padding-left: 60px;
}

li, a, button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    font-size: 13px;
    color: white;
    padding-right: 0px;
    text-decoration:none;  
}

.button-login {
    outline: none;
}

.button-post-job {
    outline: none;
    background-color: #3552f3;
    border: 1px solid #3552f3;
    margin-left: 20px;   
}

.btn-nav {
    display: flex; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 65px;   
}

.logo {
    cursor: pointer;
    width: 175px;
}

.main-nav {
    list-style: none;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    padding: 10px 17px;
}

.main-nav li a {
    transition: all 0.3s ease 0s;
}

.main-nav li a:hover {
    color: #3552f3;
}

button {
    padding: 6px 0px;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: transparent; 
    outline: none;
    width: 70px;
    font-size: 10px;
}

button:hover {
 background-color: #3552f3;   
}

.middle { 
    padding-top: 30px;
    padding-bottom: 0px;
    font-family:'Quicksand', sans-serif;
    font-weight: 200;
    font-size: 35px;
    text-align: center;
    color: white;
}
.middle p {
    margin-bottom: 0;
}

.middle div p {
    font-family:'Quicksand', sans-serif;
    font-size: 10px;
}

.search {
    text-align: center;
    justify-content: space-between;
    font-size: 8px;
    margin-top: 65px;
}

.el {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search1 {
    padding: 6px 0px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: white url('search.svg') left no-repeat;
    background-size: 11px ;
    padding-left: 34px;
    background-position: 15px;
    outline:none;
    font-size: 11px;
}

.search2 {
    padding: 6px 0px;;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: white url('pin.svg') left no-repeat;
    background-size: 11px ;
    padding-left: 34px;
    background-position: 15px;
    outline: none;
    margin-left: 20px;
    font-size: 11px;
}

.find-jobs{
    height: 400px;   
}

.main-text {
    color: #0a0e33;
    padding-top: 50px;
    font-family:'Quicksand', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-bottom: 30px;
}

.find-container{
    width: 760px;
    height: 100%;
    margin:0 auto 0;
}

.item {
    display: flex;
    text-align: center;
    margin-top: 26px;   
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.item p {
    margin-top: 0px; 
    padding-bottom: 10px;
}

.picture-container {
    width: 80%;
    height: 50%;
    margin-left: 26px;
    border: 2px solid rgb(240, 240, 242);
}

.picture-container:hover {
    color: azure;
}

.picture {
    font-size: 30px;
    margin: 10px;
    padding-top: 10px;
}

.picture-container:hover {
    background-color: #3552f3;  
}